.BlackPage {
  background-color: rgb(70, 70, 70);
  /* This is creating extra scroll that I don't want */
  height: 94vh;
}

.BlackPage-Card-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94vh;
}

.BlackPage-Card {
  height: 20rem;
  background-color: rgb(110, 110, 110);
  width: 14rem
}

.BlackPage-Card-Img {
  height: 4rem;
  width: 4rem;
  border-radius: 60px;
}

